.headerImage{
    width: 100%;
    display: block;
}

.single-blog-utils{
  list-style: none;
  padding: 0px !important;
}

.single-blog-utils li{
  float: left;
  margin-right: 10px;
  font-size: 13px;
}

#footer-box{
  background-color: #cccccc;
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer-box p{
  padding: 0px !important;
  margin: 0px !important;
}

@media screen and (min-width: 375px) {

  .headerImage{
    width: 200px;
    height: 240px;
    display: block;
}
}

@media screen and (max-width: 480px) {
  .blog-list, .blog-details{
      width: 85%;
  }

  .headerImage{
    width: 95%;
    height: 220px;
    display: block;
}
}

@media screen and (min-width: 480px) {
 .blog-details{
      width: 85%;
  }

}

@media screen and (min-width: 768px) {
  .blog-list{
      width: 80%;
  }

  .headerImage{
    width: 90%;
    height: 350px;
    display: block;
}
}

@media screen and (min-width: 768px) {
  .blog-list{
      width: 70%;
  }
  
  .blog-details{
    width:85%;
  }

  .headerImage{
    width: 97%;
    height: 390px;
    display: block;
}
}