.headerImage{
    width: 100%;
    display: block;
}

@media screen and (max-width: 480px) {
  .blog-list, .blog-details{
      width: 85%;
  }

  .headerImage{
    width: 350px;
    height: 280px;
    display: block;
}
}

@media screen and (min-width: 780px) {
  .blog-list{
      width: 85%;
  }

  .headerImage{
    width: 700px;
    height: 350px;
    display: block;
}
}

@media screen and (max-width: 1024px) {
  .blog-list{
      width: 85%;
  }
}